.nav{
 position: fixed;
 right:0;
 top:0;
 width:20%;
 height:100%;
 background:black;
 padding:50px 20px;
 box-sizing: border-box;   
 ul{
    list-style: none;
    li{border-bottom:1px solid red;
        padding:10px 0;
        a{
            color:white;
             text-decoration: none;
             transition: .3s;
              font-size:20px;
        &:hover{color:blue;}}
    }
 }
}